body {
  background-color: #111;
  color: #ddd
}

select {
  background-color: #111;
  color: #ddd;
  margin: 0 5px
}

.table {
  display: grid;
  grid-template-columns: 30px repeat(18, 55px);
  grid-template-rows: 40px repeat(7, 55px) 15px repeat(2, 55px) 20px;
  grid-template-areas: 
    ". h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 h13 h14 h15 h16 h17 h18"
    "v1 g1 . info info info info info info info info info info . . . . . g2"
    "v2 g3 g4 info info info info info info info info info info g5 g6 g7 g8 g9 g10"
    "v3 g11 g12 info info info info info info info info info info g13 g14 g15 g16 g17 g18"
    "v4 g19 g20 g21 g22 g23 g24 g25 g26 g27 g28 g29 g30 g31 g32 g33 g34 g35 g36"
    "v5 g37 g38 g39 g40 g41 g42 g43 g44 g45 g46 g47 g48 g49 g50 g51 g52 g53 g54"
    "v6 g55 g56 g57-71 g72 g73 g74 g75 g76 g77 g78 g79 g80 g81 g82 g83 g84 g85 g86"
    "v7 g87 g88 g89-103 g104 g105 g106 g107 g108 g109 g110 g111 g112 g113 g114 g115 g116 g117 g118"
    ". . . . . . . . . . . . . . . . . . ."
    ". . . v8 g57 g58 g59 g60 g61 g62 g63 g64 g65 g66 g67 g68 g69 g70 g71"
    ". . . v9 g89 g90 g91 g92 g93 g94 g95 g96 g97 g98 g99 g100 g101 g102 g103"
    ". . . . . . . . . . . . . . . . . . .";
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 14px;
  grid-area: info;
}

.info-box {
  width: 47%;
}

.info-group {
  width: 30%;
  text-align: center;
}

.spaced {
  display: flex;
  justify-content: space-between;
}

.empty {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
}

.box {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  background-color: rgb(65, 63, 63);
}

.idcont {
  display: flex;
  margin: 0 2px;
  justify-content: space-between;
  flex-direction: row;
}

.datacont {
  text-align: center;
}


.symbol {
  text-align: center;
  font-size: 18px;
}

.name {
  line-height: 12px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.group {
  cursor: pointer;
}

.group:hover {
  font-weight:bold;
  font-size: 15px;
}

#alkaline {
  color: #177ddd;
}

#alkali {
  color: #15b42fb6;
}

#metalloid {
  color: #af9f0dea;
}

#transition {
  color: #77776e;
}

#post_transition {
  color: #259466;
}

#react_nonmetal {
  color: #e77110dc;
}

#noble {
  color: #8410c7dc;
}

#lanthanoid {
  color: #4949d4;
}

#actinoid {
  color: #cf2828;
}

.alkaline {
  background-color: #177ddd;
  transition: background-color 0.5s;
}

.alkali {
  background-color: #15b42fb6;
  transition: background-color 0.5s;
}

.metalloid {
  background-color: #af9f0dea;
  transition: background-color 0.5s;
}

.transition {
  background-color: #77776e;
  transition: background-color 0.5s;
}

.post_transition {
  background-color: #259466;
  transition: background-color 0.5s;
}

.react_nonmetal {
  background-color: #e77110dc;
  transition: background-color 0.5s;
}

.noble {
  background-color: #8410c7dc;
  transition: background-color 0.5s;
}

.lanthanoid {
  background-color: #4949d4;
  transition: background-color 0.5s;
}

.actinoid {
  background-color: #cf2828;
  transition: background-color 0.5s;
}

.highlight {
  border: solid 2px darkblue;
}

.muteBox {
  /* background-color: rgb(65, 63, 63); */
  background-color: #111;
  transition: background-color 0.5s;
}