.App {
  margin: auto;
}

.period {
  display: flex;
  flex-direction: row;
}

.empty {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.idcont {
  display: flex;
  margin: 0 2px;
  justify-content: space-between;
  flex-direction: row;
}

.number {
  font-size: 14px;
}

.symbol {
  text-align: center;
  font-size: 18px;
}

.datacont {
  text-align: center;
}

.name {
  font-size: 8px;
}

.data {
  font-size: 11px;
}

