body {
  background-color: #111;
  color: #ddd
}

.App {
  
}

.period {
  display: flex;
  flex-direction: row;
}

.empty {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(65, 63, 63);
}

.idcont {
  display: flex;
  margin: 0 2px;
  justify-content: space-between;
  flex-direction: row;
}

.number {
  font-size: 14px;
}

.symbol {
  text-align: center;
  font-size: 18px;
}

.datacont {
  text-align: center;
}

.name {
  line-height: 12px;
  font-size: 8px;
}

.data {
  font-size: 11px;
}

.alkali {
  background-color: #15b42fb6
}

.alkaline {
  background-color: #177ddd
}

.metalloid {
  background-color: #af9f0dea
}

.transition {
  background-color: #77776e
}

.post_transition {
  background-color: #259466
}

.react_nonmetal {
  background-color: #e77110dc
}

.noble {
  background-color: #8410c7dc
}

.lanthanoid {
  background-color: #4949d4
}

.actinoid {
  background-color: #cf2828
}
